{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/estilo_personal.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'css/style_2.css' %}"> 
     <!-- <link rel="stylesheet" href="{% static 'css/style3.css' %}"> -->
{% endblock css %}

{% block titulo %}
    Correspondencias
{% endblock titulo %}

{% block contenido %}

<h1 class="titulo">Fichas de control y seguimiento de correspondencias</h1>
<h3 class="subtitulo">Fichas en proceso de confirmación</h3>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="table-wrap2">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                            <th>No. de ficha</th>
                            <th>Fecha</th>
                            <th>Area a la que se turna</th>
                            <th>Asunto</th>
                          <th>Prioridad</th>
                          <th>Estatus</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ficha in fichas %}
                        <tr class="alert" role="alert">
                            <td>
                                {{ficha.id_ficha}}
                            </td>
                            <td>
                                {{ficha.fecha}}
                            </td>
                            <td>
                                {{ficha.area_turnada}}
                            </td>
                            <td>
                                {{ficha.asunto}}
                            </td>
                            <td class="prioridad"> 
                                {% if ficha.prioridad == "1" %}
                                  <span class="alta">Alta</span>
                                {% elif ficha.prioridad == "2" %}
                                  <span class="media">Media</span>
                                {% elif ficha.prioridad == "3" %}
                                  <span class="baja">Baja</span>
                                {% endif %}
                            </td>
                            <td class="prioridad">
                              {% if ficha.estatus %}
                                <span class="baja">Atendido</span>
                              {% else %}
                                <span class="alta">Sin atender</span>
                              {% endif %}
                          </td>     
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled"><span class="step-links"></li>
                            {% if page_obj.has_previous %}
                              <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
                              <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                            {% endif %}
                            {% for page_actual in  page_obj.paginator.page_range %}
                              {% if page_actual == page_obj.number %}
                                <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% else %}
                                <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                                <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
                            {% endif %}
                        </span>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}

{% block js %}
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> -->
{% endblock js %}
