{% extends 'base.html' %}

{% block titulo %}
    Agregar dependencia
{% endblock titulo %}

{% block contenido %}
<center><h1>Agregar dependencia</h1> </center>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Agregar</button>
        
    </form>
      <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled"><span class="step-links"></li>
        {% if page_obj.has_previous %}
          <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
          <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
        {% endif %}
        {% for page_actual in  page_obj.paginator.page_range %}
          {% if page_actual == page_obj.number %}
            <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% else %}
            <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
            <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
        {% endif %}
    </span>
    </ul>
  </nav>
{% endblock contenido %}
