{% extends 'base.html' %}

{% block titulo %}
    Editar dependencia
{% endblock titulo %}

{% block contenido %}
    <h1><center>Editar  dependencia</center> </h1>
    <div style='
        padding-left: 1%; padding-right: 1%; padding-top: 2%; padding-bottom: 5%;
        column-count: 1; '>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Editar</button>
        </form>
    </div>
{% endblock contenido %}
