{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Listado de dependencias
{% endblock titulo %}

{% block contenido %}
<center><h1 class="app-page-title">Lista de dependencias</h1> </center>
<div class="app-card app-card-orders-table shadow-sm mb-5">
    <hr>
    <br>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Siglas</th>
            <th></th>
        </thead>
        <tbody>
            {% for dependencia in object_list  %}
            <tr>
              <div>
              <a href="{% url 'editar_dependencia' dependencia.id %}">
                <td>{{dependencia.nombre}}</td>
                <td>{{dependencia.siglas}}</td>
                <td>
                  <a href="{% url 'editar_dependencia' dependencia.id %}" class="btn btn-info">Editar </a>
                  <a href="{% url 'detalle_dependencia' dependencia.id %}" class="btn btn-info">Detalles</a>             
                  <button 
                      onclick="eliminaDependenciaModal(`{% url 'eliminar_dependencia' dependencia.id %}` , '{{dependencia.nombre}}', '{{dependencia.siglas}}')"
                      type="button" class="btn btn-danger" data-toggle="modal"
                      data-target="#eliminarDependenciaModal">
                        Eliminar
                  </button>
              </td>
            </a>
          </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled"><span class="step-links"></li>
        {% if page_obj.has_previous %}
          <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
          <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
        {% endif %}
        {% for page_actual in  page_obj.paginator.page_range %}
          {% if page_actual == page_obj.number %}
            <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% else %}
            <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
            <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
        {% endif %}
    </span>
    </ul>
  </nav>
</div>
  
<div class="modal fade" id="eliminarDependenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo">
      </div>
      <div class="modal-footer">
        <form id="formEliminar" method="post">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Sí, si quiero</button>
        </form>
        <button type="submit" class="btn btn-success" data-dismiss="modal">Mejor no</button>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}


{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
  
