.row {
    /* font-family: sans-serif; */
    font-size: 18px;
    font-weight: 400;
    color: #eeeaea;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    overflow: hidden;
    padding: 20px;
    text-align:center;
    width: 1000px;
    overflow:scroll;
    }