{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/estilo_personal.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock css %}

{% block titulo %}
    Correspondencias
{% endblock titulo %}

{% block contenido %}

<h1 class="titulo">Fichas de control y seguimiento de correspondencias</h1>
<h3 class="subtitulo">Fichas en proceso de confirmación</h3>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                            <!-- <th>&nbsp;</th> -->
                            
                            <th>No. de ficha</th>
                            <th>Fecha</th>
                            <th>Número de Documento</th>
                            <th>Fecha del Documento</th>
                            <th>Dependencia Procedente</th>
                            <th>Nombre de quien firma</th>
                            <th>Asunto</th>
                            <th>Area a la que se turna</th>
                            <th>Instrucción</th>
                            <th>Resolución</th>
                            <th>Ficha y firma de quien recibe</th>
                            <th>Prioridad</th>
                            <th>Estatus</th>
                            <th>Editar</th> 
                        </tr>
                      </thead>
                      <tbody>
                        {% for ficha in fichas %}
                        <tr class="alert" role="alert">
                            
                            <td>
                                {{ficha.id_ficha}}
                            </td>
                            <td>
                                {{ficha.fecha}}
                            </td>
                            <td>
                                {{ficha.num_documento}}
                            </td>
                            <td>
                                {{ficha.fecha_documento}}
                            </td>
                            <td>
                                {{ficha.dependencia}}
                            </td>
                            <td>
                                {{ficha.nombre_firma}}
                            </td>
                            <td>
                                {{ficha.asunto}}
                            </td>
                            <td>
                                {{ficha.area_turnada}}
                            </td>
                            <td>
                                {{ficha.instruccion}}
                            </td>
                            <td>
                                {{ficha.resolucion}}
                            </td>
                            <td>
                                {{ficha.fecha_recibido}}
                            </td>
                            <td>
                                {{ficha.prioridad}}
                            </td>

                          <td class="status"><span class="active">Activo</span></td>                          
                            <td>
                                <td>
                                    <a href="{% url 'editar' ficha.id_ficha %}" class="btn btn-warning">Editar</a>
                                </td>
                                <td>
                                    <button 
                                        onclick="eliminaFichaModal(`{% url 'eliminar' ficha.id_ficha %}` , '{{ficha.num_documento}}')"
                                        type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#eliminarFichaModal">
                                            Eliminar
                                    </button>
                                </td>
                                <td>
                                    <a href="{% url 'pdf' ficha.id_ficha %}" class="btn btn-info" target="_blank">PDF</a>
                                </td>
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled"><span class="step-links"></li>
                            {% if page_obj.has_previous %}
                              <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
                              <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                            {% endif %}
                            {% for page_actual in  page_obj.paginator.page_range %}
                              {% if page_actual == page_obj.number %}
                                <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% else %}
                                <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
                              {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                                <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
                            {% endif %}
                        </span>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="eliminarFichaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalCuerpo">
        </div>
        <div class="modal-footer">
          <form id="formEliminar" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Sí, si quiero</button>
          </form>
          <button type="submit" class="btn btn-success" data-dismiss="modal">Mejor no</button>
        </div>
      </div>
    </div>
  </div>

{% endblock contenido %}

{% block js %}
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> -->
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
