{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/corres.css' %}">
{% endblock css%}

{% block titulo %}
    Correspondencia
{% endblock titulo %}

{% block contenido %}

<center><h1 class="app-page-title">Correspondencia</h1> </center>
<a href="{% url 'pdf_correspondencia' %}">
  <i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i>
</a>
<hr>

<br>

<div class="row">
  <div class="col">
    <div class="tabs">
        {% for dependencia in dependencias %}
            <div class="tab">
                <input type="checkbox" id="{{dependencia.pk}}">
                <label class="tab-label" for="{{dependencia.pk}}">{{dependencia.nombre}} ({{dependencia.siglas}})</label>
                {% for ficha in fichas %}
                    {% if ficha.dependencia.pk == dependencia.pk %}
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-xs-12 col-md-8">
                          <button type="button" class="buton btn btn-lg">{{ficha.id_ficha}}</button>
                        </div>
                      </div>
                    </div>
                    {% endif  %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock contenido %}


{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
  
</body>